<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <h4 class="card-title"><span class="lstick"></span>Movimientos</h4>
            </div>
            <div class="col-sm-12 col-md-5">
                <!-- <input type="text" placeholder="Buscar..." class="form-control"> -->
            </div>
        </div>
        <div class="message-box contact-box">
            <div class="message-widget contact-widget">
                <br>
                <!-- Message -->
                <a *ngFor="let movimiento of movimientos">
                    <div class="user-img"> 
                        <span *ngIf="movimiento.tipo === 'gastos'" class="round fa fa-shopping-bag round-warning"></span>
                        <span *ngIf="movimiento.tipo === 'ingresos'" class="round fa fa fa-money round-success"></span>
                    </div>
                    <div class="mail-contnet">
                        <h5>{{movimiento.nombre}} Valor {{movimiento.valor |currency}}</h5> 
                        <span class="mail-desc">Fecha {{movimiento.fecha | date}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>