<div *ngIf="!loadingService.cargando">

    <div class="row">

        <div *ngFor="let ingreso of ingresos" class="col-lg-3 button-group">
            <div class="card">
                <div class="card-body">
    
                    <div class="d-flex no-block">
                        <div class="m-r-20 align-self-center">
                            <!-- <span class="lstick m-r-20"></span> -->
                            <i class="fa fa-dollar fa-4x"></i>
                        </div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">{{ingreso.nombre}}.</h6>
                            <h6 class="text-muted m-t-10 m-b-0">{{ingreso.frecuencia}}.</h6>
                            <h2 class="m-t-0">{{ingreso.valor | currency}}</h2>
                        </div>
                    </div>
                    <br>
                    <button type="button" [routerLink]="['ingreso', ingreso._id]" class="btn btn-info btn-circle">
                        <i class="fa fa-pencil"></i> 
                    </button>
                    <button (click)="inactivarIngreso(ingreso)" type="button" class="btn btn-danger btn-circle">
                        <i class="fa fa-trash-o"></i> 
                    </button>
                </div>
    
               
    
            </div>
        </div>
    
    </div>
    
    <a routerLink="ingreso/Nuevo" class="m-t-10 m-b-20 waves-effect waves-dark btn btn-success btn-md btn-rounded">
        <i class="fa fa-plus"></i>
        Agregar
    </a>

</div>

<app-loading></app-loading>


