
<h4 class="card-title">Rol</h4>
<h6 class="card-subtitle">Actualizar información</h6>

<app-loading></app-loading>

<form *ngIf="!loadingService.cargando" class="form-horizontal form-material" ngNativeValidate autocomplete="off" [formGroup]="rolForm" (ngSubmit)="guardarRol()">
                    
    <div class="form-group m-t-20">
        <div class="col-xs-12">
            <input class="form-control" required placeholder="Nombre" formControlName="nombre">
        </div>
    </div>

    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10 btn-block">
        <i class="fa fa-save"> 
        Guardar
        </i>
    </button>

</form>
