<div class="row">
                
    <div class="col-sm-12 col-md-5">
<!-- 
        <h4 class="card-title">Total de modulos ({{ totalRegistros }})</h4>
        <h6 class="card-subtitle">Modulos registrados</h6> -->

    </div>

    <div class="col-sm-12 col-md-7">
        <!-- <input type="text" class="form-control" placeholder="Buscar usuario.." (keyup)="buscar(txtTermino.value)" #txtTermino> -->
    </div>
  
</div>

<div class="col">
    <div class="text-right">
        <a class="btn btn-primary"
           (click)="ocultarloadin()">
            <i class="fa fa-plus"></i> 
            Nuevo
        </a>
    </div>
</div>
<br>

<div *ngIf="!loadingService.cargando" class="col">
    <div class="text-right">
        <a class="btn btn-primary"
           (click)="ocultarloadin()">
            <i class="fa fa-plus"></i> 
            Nuevo
        </a>
    </div>
</div>
<br>

<app-loading></app-loading>
