<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">{{titulo}}</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="'/'">{{nombreAppi}}</a>
            </li>
            <li *ngFor="let row of rutas" class="breadcrumb-item">
                <a [routerLink]="row.url" >{{row.alias}}</a>
            </li>
            <li class="breadcrumb-item active">{{titulo}}</li>
        </ol>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->